@font-face {
    font-family: Roboto;
    src: url(fonts/roboto.eot);
}
tr:nth-child(odd){
    background:#f0f0f3;
}
tr:nth-child(even){
    background:#dfdaf0;
}

body{
    background-color: #f0f0f3;
    padding: 0 60px;
}

h1 {
    font-weight:bold;
    text-transform: uppercase;
    font-size: 60px;
    color: #434343;
    font-family: Roboto;
}

tr, label{
    color: #434343;
    height: 36px;
    font-family: Roboto;
}
a{
    color:#2da44e;
    font-family: Roboto;
}

INPUT:focus {
    border: 1px solid #2da44e;
    outline: none;
}

input{
	width: 170px;
	font-size: 14px;
	padding: 8px 10px;
	border: 1px solid #cecece;
	background: #fff;
	border-radius: 40px;
	font-family: Roboto;
	margin-bottom: 15px;
}

button, input[type="submit"]{
    width: 170px;
	font-size: 14px;
	padding: 8px 10px;
	border: 1px solid #cecece;
    border-radius: 40px;
    background-color: #2da44e;
    color: white;
    font-family: Roboto;
}

.block-center{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 280px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 30px;
	box-sizing: border-box;
	text-align: center;
}

.forms form{
    margin-right: 50px;
    display: inline-block;
}
